<html>
<head>
    <title>WiMoVE</title>
    <link rel="stylesheet" href="static/water.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/svg+xml" href="static/favicon.svg">
    <link rel="icon" type="image/png" href="static/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-size: 24px">
<h1>
    WiMoVE
</h1>
<p>
    To roam between different access points just press a button.
</p>
<a href="/acs2" style="display: block; width: 100%">
    <button style="width: 100%">ACS2</button>
</a>
<a href="/acs3" style="display: block; width: 100%">
    <button style="width: 100%">ACS3</button>
</a>
<a href="/acs6" style="display: block; width: 100%">
    <button style="width: 100%">ACS6</button>
</a>
</body>
</html>